.navigation-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-menu li{
    margin: 0 20px;

}
.navigation-menu li a{
    text-decoration: none;
    color: white;
}
/* mobile-menu */

.mobile-menu{
    list-style: none;
    margin-right: 30px;
}

.mobile-menu li a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top:5px ;
    text-align: left;
    color: black;
    /* border-bottom-width: 15px; */
}

