/* @media only screen and (max-width:600px) {
  .Home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer {
    margin-left: 0;
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }
  .headerContainer h1 {
    font-size: 45px;
    color: red;
  }
  .headerContainer h3 {
    font-size: 30px;
    color: red;
  }
  .headerContainer button {
    
  }
} */
